.user-card{
  display:flex;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: 24em;
  height: 8em;
  margin: 2em;
  background-color: #dbdbc9;


}


.profile-photo {
  flex: 1; /* Make the profile photo take up all available horizontal space */
  text-align: center; /* Center the content horizontally */
}

.profile-photo img {
  max-width: 100%; /* Ensure the image doesn't exceed the container width */
  max-height: 100%; /* Ensure the image doesn't exceed the container height */
  border-radius: 50%; 
}

.user-info {
  flex: 2; /* Make the user info section take up twice as much horizontal space */
  padding-left: 20px; /* Add some spacing between the photo and user info */
}
