<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <title>Document</title>
</head>
<body id="homepage">
  <div class="component">

    <div class="user-card">
      <ng-container *ngIf="userProfile">
        <!-- <div>Welcome Back, {{ userProfile.name ? userProfile.name : userProfile.sub }}!</div> -->
        <app-user-card>[userProfile]="userProfile"</app-user-card>
      </ng-container>
    </div>
    <div class="sign-out">
      <a mat-button href="https://t.me/+-QvUTnGhqqYzMGY1">Telegram Group</a>
      <button mat-button id="signout-button" (click) = "handleSignOut()">Sign Out</button>
    </div>
  </div>
    <div class="game-comp">
      <div class="leaderboard">
        <h2><strong>Math Leaderboard</strong></h2>
        <div class="leaderboard-details">
          <div *ngIf="highScoreList.length > 0; else noItems">
            <div *ngFor="let score of highScoreList; let i = index">
              <span>{{i+1}}. </span>
              <span id="tag">{{score.username}}:  {{score.mathScore}}</span>
            </div>
        </div>


      </div>

      </div>

      <div class="math-game">
        <a mat-button class = "math-button"[routerLink]="['math']" (click)="resetLocalStorageScore()" >Math</a> <br><br>
        <a mat-button class = "math-button"[routerLink]="['dict']" (click)="resetLocalStorageScore()" >Review Words</a> <br>
      </div>


    </div>

    <ng-template #noItems>

      <h4>Generating Leaderboard</h4>
    </ng-template>



</body>
</html>
