<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body id="homepage">
  <div class="game-card" [ngClass]="{ 'tutorial-active': isTutorialActive }">
    <div class="card-header">
      <h2 class="first-element">Math Quiz Game</h2>
    </div>

    <div class="card-content">
      <div class="question" [@swipeIn]="currentQuestionIndex">
        <p class="second-element">{{ question.question }}</p>
        <form [formGroup]="form" (ngSubmit)="checkAnswer()">
          <input type="number" formControlName="answer" class="third-element">
          <button type="button" (click)="checkAnswer()" [disabled]="!form.valid" class="highlight-submit">Submit</button>
        </form>
      </div>
      <div class="message" *ngIf="question && question.message">
        <p>{{ question.message }}</p>
      </div>
      <div class="fifth-element">
        <div class="score-container">
          <div class="score">
            <p>Score: {{ score }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
