body {
  background-color: #f1f1f1;
  background-image: url("src/images/landing-page.jpg");
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.landing-image {
  width: 500px;
  height: auto;
}

.button-container {
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

h1 {
  font-family: "Comic Sans MS", cursive;
  font-size: 48px;
  font-weight: 900;
  color: #ff6b6b;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  animation: rainbow 10s infinite;
}

@keyframes rainbow {
  0%   { color: #ff6b6b; }
  14%  { color: #ff793f; }
  28%  { color: #fab1a0; }
  42%  { color: #74b9ff; }
  57%  { color: #a29bfe; }
  71%  { color: #6c5ce7; }
  85%  { color: #a29bfe; }
  100% { color: #74b9ff; }
}

#login-section {
  height: 100vh;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}
