<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to MyApp</title>

</head>
<body>
  <div class="content">
    <section id="homepage">
      <div class="button-container">
        <a href="#login-section" class="button">Log in</a> &nbsp;
        <a href="#register-section" class="button">Sign up</a>
      </div>
    </section>

    <section id="login-section">
      <app-login></app-login>
    </section>
    <section id="register-section">
      <app-register></app-register>
    </section>
  </div>

  <div id="back-to-top" class="button">
    <a href="#homepage">Back to Top</a>
  </div>


</body>
</html>
